<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liveooapp.liveoo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LiveooTheme" >

        <!-- TODO: Add splash screen -->
        <activity
            android:name=".DispatchActivity"
            android:noHistory="true"
            android:theme="@style/LiveooTheme.Translucent" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/activity_main_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
        </activity>
        <activity
            android:name=".RestorePasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name=".ResetSuccessActivity"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name=".EventListActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.MainActivity" />
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:parentActivityName=".EventListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.EventListActivity" />
        </activity>
        <activity
            android:name=".TicketListActivity"
            android:label="@string/title_activity_ticket_list" >
        </activity>
        <activity
            android:name=".TicketBookActivity"
            android:label="@string/title_activity_ticket_book"
            android:parentActivityName=".EventDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.EventDetailActivity" />
        </activity>
        <activity
            android:name=".FriendsInviteActivity"
            android:parentActivityName=".EventDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.EventDetailActivity" />
        </activity>
        <activity
            android:name=".TicketPayActivity"
            android:label="@string/title_activity_ticket_pay"
            android:parentActivityName=".TicketBookActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.TicketBookActivity" />
        </activity>
        <activity
            android:name=".TicketResultActivity"
            android:label="@string/title_activity_ticket_result"
            android:parentActivityName=".TicketPayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.TicketPayActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveooapp.liveoo.MainActivity" />
        </activity>
    </application>

</manifest>
