<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liveooapp.liveoo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/LiveooTheme" >

        <!-- TODO: Add splash screen -->
        <activity
            android:name="com.liveoo.SplashActivity"
            android:theme="@style/LiveooTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.liveoo.LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
        </activity>
        <activity
            android:name="com.liveoo.MainActivity"
            android:label="@string/activity_main_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name="com.liveoo.RegisterActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
        </activity>
        <activity
            android:name="com.liveoo.PasswordRestoreActivity"
            android:parentActivityName="com.liveoo.LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name="com.liveoo.PasswordResetActivity"
            android:parentActivityName="com.liveoo.LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name="com.liveoo.PasswordResultActivity"
            android:parentActivityName="com.liveoo.LoginActivity"
            android:theme="@style/LiveooTheme.Fullscreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.LoginActivity" />
        </activity>
        <activity
            android:name="com.liveoo.EventListActivity"
            android:parentActivityName="com.liveoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.MainActivity" />
        </activity>
        <activity
            android:name="com.liveoo.EventDetailActivity"
            android:parentActivityName="com.liveoo.EventListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.EventListActivity" />
        </activity>
        <activity
            android:name="com.liveoo.TicketListActivity"
            android:label="@string/title_activity_ticket_list"
            android:parentActivityName="com.liveoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.MainActivity" />
        </activity>
        <activity
            android:name="com.liveoo.TicketBookActivity"
            android:label="@string/title_activity_ticket_book"
            android:parentActivityName="com.liveoo.EventDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.EventDetailActivity" />
        </activity>
        <activity
            android:name="com.liveoo.FriendsInviteActivity"
            android:parentActivityName="com.liveoo.EventDetailActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.EventDetailActivity" />
        </activity>
        <activity
            android:name="com.liveoo.TicketPayActivity"
            android:label="@string/title_activity_ticket_pay"
            android:parentActivityName="com.liveoo.TicketBookActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.TicketBookActivity" />
        </activity>
        <activity
            android:name="com.liveoo.TicketResultActivity"
            android:label="@string/title_activity_ticket_result"
            android:parentActivityName="com.liveoo.TicketPayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.TicketPayActivity" />
        </activity>
        <activity
            android:name="com.liveoo.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.liveoo.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.MainActivity" />
        </activity>
        <activity
            android:name="com.liveoo.TicketDetailActivity"
            android:label="@string/title_activity_ticket_detail"
            android:parentActivityName="com.liveoo.TicketListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.TicketListActivity" />
        </activity>
        <activity
            android:name="com.liveoo.TagsManageActivity"
            android:label="@string/title_activity_tags_manage"
            android:parentActivityName="com.liveoo.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.SettingsActivity" />
        </activity>
        <activity
            android:name="com.liveoo.SettingsInfoActivity"
            android:label="@string/title_activity_info_update"
            android:parentActivityName="com.liveoo.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.SettingsActivity" />
        </activity>
        <activity
            android:name="com.liveoo.SettingsPushActivity"
            android:label="@string/title_activity_settings_push"
            android:parentActivityName="com.liveoo.SettingsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.liveoo.SettingsActivity" />
        </activity>
    </application>

</manifest>
